<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crplingxi.httpapi.webapp.dao.ColdLoadRealTimeMapper">
  <resultMap id="BaseResultMap" type="com.crplingxi.httpapi.webapp.domain.ColdLoadRealTime">
    <!--@mbg.generated-->
    <!--@Table COLD_LOAD_REAL_TIME-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CLOAD" jdbcType="DECIMAL" property="cload" />
    <result column="CTPC" jdbcType="DECIMAL" property="ctpc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CLOAD, CTPC
  </sql>
  <select id="findByWhere" parameterType="com.crplingxi.httpapi.webapp.domain.ColdLoadRealTime" resultType="com.crplingxi.httpapi.webapp.domain.ColdLoadRealTime" useCache="true">
    select
    <include refid="Base_Column_List" />
    from COLD_LOAD_REAL_TIME
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from COLD_LOAD_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from COLD_LOAD_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crplingxi.httpapi.webapp.domain.ColdLoadRealTime">
    <!--@mbg.generated-->
    insert into COLD_LOAD_REAL_TIME (ID, CLOAD, CTPC
      )
    values (#{id,jdbcType=VARCHAR}, #{cload,jdbcType=DECIMAL}, #{ctpc,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crplingxi.httpapi.webapp.domain.ColdLoadRealTime">
    <!--@mbg.generated-->
    update COLD_LOAD_REAL_TIME
    set CLOAD = #{cload,jdbcType=DECIMAL},
      CTPC = #{ctpc,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
