<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crplingxi.httpapi.webapp.dao.HcvRealTimeMapper">
  <resultMap id="BaseResultMap" type="com.crplingxi.httpapi.webapp.domain.HcvRealTime">
    <!--@mbg.generated-->
    <!--@Table HCV_REAL_TIME-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HARM2UA" jdbcType="DECIMAL" property="harm2ua" />
    <result column="HARM3UA" jdbcType="DECIMAL" property="harm3ua" />
    <result column="HARM4UA" jdbcType="DECIMAL" property="harm4ua" />
    <result column="HARM5UA" jdbcType="DECIMAL" property="harm5ua" />
    <result column="HARM6UA" jdbcType="DECIMAL" property="harm6ua" />
    <result column="HARM7UA" jdbcType="DECIMAL" property="harm7ua" />
    <result column="HARM8UA" jdbcType="DECIMAL" property="harm8ua" />
    <result column="HARM9UA" jdbcType="DECIMAL" property="harm9ua" />
    <result column="HARM10UA" jdbcType="DECIMAL" property="harm10ua" />
    <result column="HARM11UA" jdbcType="DECIMAL" property="harm11ua" />
    <result column="HARM12UA" jdbcType="DECIMAL" property="harm12ua" />
    <result column="HARM13UA" jdbcType="DECIMAL" property="harm13ua" />
    <result column="HARM14UA" jdbcType="DECIMAL" property="harm14ua" />
    <result column="HARM15UA" jdbcType="DECIMAL" property="harm15ua" />
    <result column="HARM16UA" jdbcType="DECIMAL" property="harm16ua" />
    <result column="HARM17UA" jdbcType="DECIMAL" property="harm17ua" />
    <result column="HARM18UA" jdbcType="DECIMAL" property="harm18ua" />
    <result column="HARM19UA" jdbcType="DECIMAL" property="harm19ua" />
    <result column="HARM20UA" jdbcType="DECIMAL" property="harm20ua" />
    <result column="HARM21UA" jdbcType="DECIMAL" property="harm21ua" />
    <result column="HARM22UA" jdbcType="DECIMAL" property="harm22ua" />
    <result column="HARM23UA" jdbcType="DECIMAL" property="harm23ua" />
    <result column="HARM24UA" jdbcType="DECIMAL" property="harm24ua" />
    <result column="HARM25UA" jdbcType="DECIMAL" property="harm25ua" />
    <result column="HARM26UA" jdbcType="DECIMAL" property="harm26ua" />
    <result column="HARM27UA" jdbcType="DECIMAL" property="harm27ua" />
    <result column="HARM28UA" jdbcType="DECIMAL" property="harm28ua" />
    <result column="HARM29UA" jdbcType="DECIMAL" property="harm29ua" />
    <result column="HARM30UA" jdbcType="DECIMAL" property="harm30ua" />
    <result column="HARM31UA" jdbcType="DECIMAL" property="harm31ua" />
    <result column="THDUA" jdbcType="DECIMAL" property="thdua" />
    <result column="FDUA" jdbcType="DECIMAL" property="fdua" />
    <result column="HARM2UB" jdbcType="DECIMAL" property="harm2ub" />
    <result column="HARM3UB" jdbcType="DECIMAL" property="harm3ub" />
    <result column="HARM4UB" jdbcType="DECIMAL" property="harm4ub" />
    <result column="HARM5UB" jdbcType="DECIMAL" property="harm5ub" />
    <result column="HARM6UB" jdbcType="DECIMAL" property="harm6ub" />
    <result column="HARM7UB" jdbcType="DECIMAL" property="harm7ub" />
    <result column="HARM8UB" jdbcType="DECIMAL" property="harm8ub" />
    <result column="HARM9UB" jdbcType="DECIMAL" property="harm9ub" />
    <result column="HARM10UB" jdbcType="DECIMAL" property="harm10ub" />
    <result column="HARM11UB" jdbcType="DECIMAL" property="harm11ub" />
    <result column="HARM12UB" jdbcType="DECIMAL" property="harm12ub" />
    <result column="HARM13UB" jdbcType="DECIMAL" property="harm13ub" />
    <result column="HARM14UB" jdbcType="DECIMAL" property="harm14ub" />
    <result column="HARM15UB" jdbcType="DECIMAL" property="harm15ub" />
    <result column="HARM16UB" jdbcType="DECIMAL" property="harm16ub" />
    <result column="HARM17UB" jdbcType="DECIMAL" property="harm17ub" />
    <result column="HARM18UB" jdbcType="DECIMAL" property="harm18ub" />
    <result column="HARM19UB" jdbcType="DECIMAL" property="harm19ub" />
    <result column="HARM20UB" jdbcType="DECIMAL" property="harm20ub" />
    <result column="HARM21UB" jdbcType="DECIMAL" property="harm21ub" />
    <result column="HARM22UB" jdbcType="DECIMAL" property="harm22ub" />
    <result column="HARM23UB" jdbcType="DECIMAL" property="harm23ub" />
    <result column="HARM24UB" jdbcType="DECIMAL" property="harm24ub" />
    <result column="HARM25UB" jdbcType="DECIMAL" property="harm25ub" />
    <result column="HARM26UB" jdbcType="DECIMAL" property="harm26ub" />
    <result column="HARM27UB" jdbcType="DECIMAL" property="harm27ub" />
    <result column="HARM28UB" jdbcType="DECIMAL" property="harm28ub" />
    <result column="HARM29UB" jdbcType="DECIMAL" property="harm29ub" />
    <result column="HARM30UB" jdbcType="DECIMAL" property="harm30ub" />
    <result column="HARM31UB" jdbcType="DECIMAL" property="harm31ub" />
    <result column="THDUB" jdbcType="DECIMAL" property="thdub" />
    <result column="FDUB" jdbcType="DECIMAL" property="fdub" />
    <result column="HARM2UC" jdbcType="DECIMAL" property="harm2uc" />
    <result column="HARM3UC" jdbcType="DECIMAL" property="harm3uc" />
    <result column="HARM4UC" jdbcType="DECIMAL" property="harm4uc" />
    <result column="HARM5UC" jdbcType="DECIMAL" property="harm5uc" />
    <result column="HARM6UC" jdbcType="DECIMAL" property="harm6uc" />
    <result column="HARM7UC" jdbcType="DECIMAL" property="harm7uc" />
    <result column="HARM8UC" jdbcType="DECIMAL" property="harm8uc" />
    <result column="HARM9UC" jdbcType="DECIMAL" property="harm9uc" />
    <result column="HARM10UC" jdbcType="DECIMAL" property="harm10uc" />
    <result column="HARM11UC" jdbcType="DECIMAL" property="harm11uc" />
    <result column="HARM12UC" jdbcType="DECIMAL" property="harm12uc" />
    <result column="HARM13UC" jdbcType="DECIMAL" property="harm13uc" />
    <result column="HARM14UC" jdbcType="DECIMAL" property="harm14uc" />
    <result column="HARM15UC" jdbcType="DECIMAL" property="harm15uc" />
    <result column="HARM16UC" jdbcType="DECIMAL" property="harm16uc" />
    <result column="HARM17UC" jdbcType="DECIMAL" property="harm17uc" />
    <result column="HARM18UC" jdbcType="DECIMAL" property="harm18uc" />
    <result column="HARM19UC" jdbcType="DECIMAL" property="harm19uc" />
    <result column="HARM20UC" jdbcType="DECIMAL" property="harm20uc" />
    <result column="HARM21UC" jdbcType="DECIMAL" property="harm21uc" />
    <result column="HARM22UC" jdbcType="DECIMAL" property="harm22uc" />
    <result column="HARM23UC" jdbcType="DECIMAL" property="harm23uc" />
    <result column="HARM24UC" jdbcType="DECIMAL" property="harm24uc" />
    <result column="HARM25UC" jdbcType="DECIMAL" property="harm25uc" />
    <result column="HARM26UC" jdbcType="DECIMAL" property="harm26uc" />
    <result column="HARM27UC" jdbcType="DECIMAL" property="harm27uc" />
    <result column="HARM28UC" jdbcType="DECIMAL" property="harm28uc" />
    <result column="HARM29UC" jdbcType="DECIMAL" property="harm29uc" />
    <result column="HARM30UC" jdbcType="DECIMAL" property="harm30uc" />
    <result column="HARM31UC" jdbcType="DECIMAL" property="harm31uc" />
    <result column="THDUC" jdbcType="DECIMAL" property="thduc" />
    <result column="FDUC" jdbcType="DECIMAL" property="fduc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, HARM2UA, HARM3UA, HARM4UA, HARM5UA, HARM6UA, HARM7UA, HARM8UA, HARM9UA, HARM10UA, 
    HARM11UA, HARM12UA, HARM13UA, HARM14UA, HARM15UA, HARM16UA, HARM17UA, HARM18UA, HARM19UA, 
    HARM20UA, HARM21UA, HARM22UA, HARM23UA, HARM24UA, HARM25UA, HARM26UA, HARM27UA, HARM28UA, 
    HARM29UA, HARM30UA, HARM31UA, THDUA, FDUA, HARM2UB, HARM3UB, HARM4UB, HARM5UB, HARM6UB, 
    HARM7UB, HARM8UB, HARM9UB, HARM10UB, HARM11UB, HARM12UB, HARM13UB, HARM14UB, HARM15UB, 
    HARM16UB, HARM17UB, HARM18UB, HARM19UB, HARM20UB, HARM21UB, HARM22UB, HARM23UB, HARM24UB, 
    HARM25UB, HARM26UB, HARM27UB, HARM28UB, HARM29UB, HARM30UB, HARM31UB, THDUB, FDUB, 
    HARM2UC, HARM3UC, HARM4UC, HARM5UC, HARM6UC, HARM7UC, HARM8UC, HARM9UC, HARM10UC, 
    HARM11UC, HARM12UC, HARM13UC, HARM14UC, HARM15UC, HARM16UC, HARM17UC, HARM18UC, HARM19UC, 
    HARM20UC, HARM21UC, HARM22UC, HARM23UC, HARM24UC, HARM25UC, HARM26UC, HARM27UC, HARM28UC, 
    HARM29UC, HARM30UC, HARM31UC, THDUC, FDUC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from HCV_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from HCV_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crplingxi.httpapi.webapp.domain.HcvRealTime">
    <!--@mbg.generated-->
    insert into HCV_REAL_TIME (ID, HARM2UA, HARM3UA, 
      HARM4UA, HARM5UA, HARM6UA, 
      HARM7UA, HARM8UA, HARM9UA, 
      HARM10UA, HARM11UA, HARM12UA, 
      HARM13UA, HARM14UA, HARM15UA, 
      HARM16UA, HARM17UA, HARM18UA, 
      HARM19UA, HARM20UA, HARM21UA, 
      HARM22UA, HARM23UA, HARM24UA, 
      HARM25UA, HARM26UA, HARM27UA, 
      HARM28UA, HARM29UA, HARM30UA, 
      HARM31UA, THDUA, FDUA, 
      HARM2UB, HARM3UB, HARM4UB, 
      HARM5UB, HARM6UB, HARM7UB, 
      HARM8UB, HARM9UB, HARM10UB, 
      HARM11UB, HARM12UB, HARM13UB, 
      HARM14UB, HARM15UB, HARM16UB, 
      HARM17UB, HARM18UB, HARM19UB, 
      HARM20UB, HARM21UB, HARM22UB, 
      HARM23UB, HARM24UB, HARM25UB, 
      HARM26UB, HARM27UB, HARM28UB, 
      HARM29UB, HARM30UB, HARM31UB, 
      THDUB, FDUB, HARM2UC, 
      HARM3UC, HARM4UC, HARM5UC, 
      HARM6UC, HARM7UC, HARM8UC, 
      HARM9UC, HARM10UC, HARM11UC, 
      HARM12UC, HARM13UC, HARM14UC, 
      HARM15UC, HARM16UC, HARM17UC, 
      HARM18UC, HARM19UC, HARM20UC, 
      HARM21UC, HARM22UC, HARM23UC, 
      HARM24UC, HARM25UC, HARM26UC, 
      HARM27UC, HARM28UC, HARM29UC, 
      HARM30UC, HARM31UC, THDUC, 
      FDUC)
    values (#{id,jdbcType=VARCHAR}, #{harm2ua,jdbcType=DECIMAL}, #{harm3ua,jdbcType=DECIMAL}, 
      #{harm4ua,jdbcType=DECIMAL}, #{harm5ua,jdbcType=DECIMAL}, #{harm6ua,jdbcType=DECIMAL}, 
      #{harm7ua,jdbcType=DECIMAL}, #{harm8ua,jdbcType=DECIMAL}, #{harm9ua,jdbcType=DECIMAL}, 
      #{harm10ua,jdbcType=DECIMAL}, #{harm11ua,jdbcType=DECIMAL}, #{harm12ua,jdbcType=DECIMAL}, 
      #{harm13ua,jdbcType=DECIMAL}, #{harm14ua,jdbcType=DECIMAL}, #{harm15ua,jdbcType=DECIMAL}, 
      #{harm16ua,jdbcType=DECIMAL}, #{harm17ua,jdbcType=DECIMAL}, #{harm18ua,jdbcType=DECIMAL}, 
      #{harm19ua,jdbcType=DECIMAL}, #{harm20ua,jdbcType=DECIMAL}, #{harm21ua,jdbcType=DECIMAL}, 
      #{harm22ua,jdbcType=DECIMAL}, #{harm23ua,jdbcType=DECIMAL}, #{harm24ua,jdbcType=DECIMAL}, 
      #{harm25ua,jdbcType=DECIMAL}, #{harm26ua,jdbcType=DECIMAL}, #{harm27ua,jdbcType=DECIMAL}, 
      #{harm28ua,jdbcType=DECIMAL}, #{harm29ua,jdbcType=DECIMAL}, #{harm30ua,jdbcType=DECIMAL}, 
      #{harm31ua,jdbcType=DECIMAL}, #{thdua,jdbcType=DECIMAL}, #{fdua,jdbcType=DECIMAL}, 
      #{harm2ub,jdbcType=DECIMAL}, #{harm3ub,jdbcType=DECIMAL}, #{harm4ub,jdbcType=DECIMAL}, 
      #{harm5ub,jdbcType=DECIMAL}, #{harm6ub,jdbcType=DECIMAL}, #{harm7ub,jdbcType=DECIMAL}, 
      #{harm8ub,jdbcType=DECIMAL}, #{harm9ub,jdbcType=DECIMAL}, #{harm10ub,jdbcType=DECIMAL}, 
      #{harm11ub,jdbcType=DECIMAL}, #{harm12ub,jdbcType=DECIMAL}, #{harm13ub,jdbcType=DECIMAL}, 
      #{harm14ub,jdbcType=DECIMAL}, #{harm15ub,jdbcType=DECIMAL}, #{harm16ub,jdbcType=DECIMAL}, 
      #{harm17ub,jdbcType=DECIMAL}, #{harm18ub,jdbcType=DECIMAL}, #{harm19ub,jdbcType=DECIMAL}, 
      #{harm20ub,jdbcType=DECIMAL}, #{harm21ub,jdbcType=DECIMAL}, #{harm22ub,jdbcType=DECIMAL}, 
      #{harm23ub,jdbcType=DECIMAL}, #{harm24ub,jdbcType=DECIMAL}, #{harm25ub,jdbcType=DECIMAL}, 
      #{harm26ub,jdbcType=DECIMAL}, #{harm27ub,jdbcType=DECIMAL}, #{harm28ub,jdbcType=DECIMAL}, 
      #{harm29ub,jdbcType=DECIMAL}, #{harm30ub,jdbcType=DECIMAL}, #{harm31ub,jdbcType=DECIMAL}, 
      #{thdub,jdbcType=DECIMAL}, #{fdub,jdbcType=DECIMAL}, #{harm2uc,jdbcType=DECIMAL}, 
      #{harm3uc,jdbcType=DECIMAL}, #{harm4uc,jdbcType=DECIMAL}, #{harm5uc,jdbcType=DECIMAL}, 
      #{harm6uc,jdbcType=DECIMAL}, #{harm7uc,jdbcType=DECIMAL}, #{harm8uc,jdbcType=DECIMAL}, 
      #{harm9uc,jdbcType=DECIMAL}, #{harm10uc,jdbcType=DECIMAL}, #{harm11uc,jdbcType=DECIMAL}, 
      #{harm12uc,jdbcType=DECIMAL}, #{harm13uc,jdbcType=DECIMAL}, #{harm14uc,jdbcType=DECIMAL}, 
      #{harm15uc,jdbcType=DECIMAL}, #{harm16uc,jdbcType=DECIMAL}, #{harm17uc,jdbcType=DECIMAL}, 
      #{harm18uc,jdbcType=DECIMAL}, #{harm19uc,jdbcType=DECIMAL}, #{harm20uc,jdbcType=DECIMAL}, 
      #{harm21uc,jdbcType=DECIMAL}, #{harm22uc,jdbcType=DECIMAL}, #{harm23uc,jdbcType=DECIMAL}, 
      #{harm24uc,jdbcType=DECIMAL}, #{harm25uc,jdbcType=DECIMAL}, #{harm26uc,jdbcType=DECIMAL}, 
      #{harm27uc,jdbcType=DECIMAL}, #{harm28uc,jdbcType=DECIMAL}, #{harm29uc,jdbcType=DECIMAL}, 
      #{harm30uc,jdbcType=DECIMAL}, #{harm31uc,jdbcType=DECIMAL}, #{thduc,jdbcType=DECIMAL}, 
      #{fduc,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crplingxi.httpapi.webapp.domain.HcvRealTime">
    <!--@mbg.generated-->
    update HCV_REAL_TIME
    set HARM2UA = #{harm2ua,jdbcType=DECIMAL},
      HARM3UA = #{harm3ua,jdbcType=DECIMAL},
      HARM4UA = #{harm4ua,jdbcType=DECIMAL},
      HARM5UA = #{harm5ua,jdbcType=DECIMAL},
      HARM6UA = #{harm6ua,jdbcType=DECIMAL},
      HARM7UA = #{harm7ua,jdbcType=DECIMAL},
      HARM8UA = #{harm8ua,jdbcType=DECIMAL},
      HARM9UA = #{harm9ua,jdbcType=DECIMAL},
      HARM10UA = #{harm10ua,jdbcType=DECIMAL},
      HARM11UA = #{harm11ua,jdbcType=DECIMAL},
      HARM12UA = #{harm12ua,jdbcType=DECIMAL},
      HARM13UA = #{harm13ua,jdbcType=DECIMAL},
      HARM14UA = #{harm14ua,jdbcType=DECIMAL},
      HARM15UA = #{harm15ua,jdbcType=DECIMAL},
      HARM16UA = #{harm16ua,jdbcType=DECIMAL},
      HARM17UA = #{harm17ua,jdbcType=DECIMAL},
      HARM18UA = #{harm18ua,jdbcType=DECIMAL},
      HARM19UA = #{harm19ua,jdbcType=DECIMAL},
      HARM20UA = #{harm20ua,jdbcType=DECIMAL},
      HARM21UA = #{harm21ua,jdbcType=DECIMAL},
      HARM22UA = #{harm22ua,jdbcType=DECIMAL},
      HARM23UA = #{harm23ua,jdbcType=DECIMAL},
      HARM24UA = #{harm24ua,jdbcType=DECIMAL},
      HARM25UA = #{harm25ua,jdbcType=DECIMAL},
      HARM26UA = #{harm26ua,jdbcType=DECIMAL},
      HARM27UA = #{harm27ua,jdbcType=DECIMAL},
      HARM28UA = #{harm28ua,jdbcType=DECIMAL},
      HARM29UA = #{harm29ua,jdbcType=DECIMAL},
      HARM30UA = #{harm30ua,jdbcType=DECIMAL},
      HARM31UA = #{harm31ua,jdbcType=DECIMAL},
      THDUA = #{thdua,jdbcType=DECIMAL},
      FDUA = #{fdua,jdbcType=DECIMAL},
      HARM2UB = #{harm2ub,jdbcType=DECIMAL},
      HARM3UB = #{harm3ub,jdbcType=DECIMAL},
      HARM4UB = #{harm4ub,jdbcType=DECIMAL},
      HARM5UB = #{harm5ub,jdbcType=DECIMAL},
      HARM6UB = #{harm6ub,jdbcType=DECIMAL},
      HARM7UB = #{harm7ub,jdbcType=DECIMAL},
      HARM8UB = #{harm8ub,jdbcType=DECIMAL},
      HARM9UB = #{harm9ub,jdbcType=DECIMAL},
      HARM10UB = #{harm10ub,jdbcType=DECIMAL},
      HARM11UB = #{harm11ub,jdbcType=DECIMAL},
      HARM12UB = #{harm12ub,jdbcType=DECIMAL},
      HARM13UB = #{harm13ub,jdbcType=DECIMAL},
      HARM14UB = #{harm14ub,jdbcType=DECIMAL},
      HARM15UB = #{harm15ub,jdbcType=DECIMAL},
      HARM16UB = #{harm16ub,jdbcType=DECIMAL},
      HARM17UB = #{harm17ub,jdbcType=DECIMAL},
      HARM18UB = #{harm18ub,jdbcType=DECIMAL},
      HARM19UB = #{harm19ub,jdbcType=DECIMAL},
      HARM20UB = #{harm20ub,jdbcType=DECIMAL},
      HARM21UB = #{harm21ub,jdbcType=DECIMAL},
      HARM22UB = #{harm22ub,jdbcType=DECIMAL},
      HARM23UB = #{harm23ub,jdbcType=DECIMAL},
      HARM24UB = #{harm24ub,jdbcType=DECIMAL},
      HARM25UB = #{harm25ub,jdbcType=DECIMAL},
      HARM26UB = #{harm26ub,jdbcType=DECIMAL},
      HARM27UB = #{harm27ub,jdbcType=DECIMAL},
      HARM28UB = #{harm28ub,jdbcType=DECIMAL},
      HARM29UB = #{harm29ub,jdbcType=DECIMAL},
      HARM30UB = #{harm30ub,jdbcType=DECIMAL},
      HARM31UB = #{harm31ub,jdbcType=DECIMAL},
      THDUB = #{thdub,jdbcType=DECIMAL},
      FDUB = #{fdub,jdbcType=DECIMAL},
      HARM2UC = #{harm2uc,jdbcType=DECIMAL},
      HARM3UC = #{harm3uc,jdbcType=DECIMAL},
      HARM4UC = #{harm4uc,jdbcType=DECIMAL},
      HARM5UC = #{harm5uc,jdbcType=DECIMAL},
      HARM6UC = #{harm6uc,jdbcType=DECIMAL},
      HARM7UC = #{harm7uc,jdbcType=DECIMAL},
      HARM8UC = #{harm8uc,jdbcType=DECIMAL},
      HARM9UC = #{harm9uc,jdbcType=DECIMAL},
      HARM10UC = #{harm10uc,jdbcType=DECIMAL},
      HARM11UC = #{harm11uc,jdbcType=DECIMAL},
      HARM12UC = #{harm12uc,jdbcType=DECIMAL},
      HARM13UC = #{harm13uc,jdbcType=DECIMAL},
      HARM14UC = #{harm14uc,jdbcType=DECIMAL},
      HARM15UC = #{harm15uc,jdbcType=DECIMAL},
      HARM16UC = #{harm16uc,jdbcType=DECIMAL},
      HARM17UC = #{harm17uc,jdbcType=DECIMAL},
      HARM18UC = #{harm18uc,jdbcType=DECIMAL},
      HARM19UC = #{harm19uc,jdbcType=DECIMAL},
      HARM20UC = #{harm20uc,jdbcType=DECIMAL},
      HARM21UC = #{harm21uc,jdbcType=DECIMAL},
      HARM22UC = #{harm22uc,jdbcType=DECIMAL},
      HARM23UC = #{harm23uc,jdbcType=DECIMAL},
      HARM24UC = #{harm24uc,jdbcType=DECIMAL},
      HARM25UC = #{harm25uc,jdbcType=DECIMAL},
      HARM26UC = #{harm26uc,jdbcType=DECIMAL},
      HARM27UC = #{harm27uc,jdbcType=DECIMAL},
      HARM28UC = #{harm28uc,jdbcType=DECIMAL},
      HARM29UC = #{harm29uc,jdbcType=DECIMAL},
      HARM30UC = #{harm30uc,jdbcType=DECIMAL},
      HARM31UC = #{harm31uc,jdbcType=DECIMAL},
      THDUC = #{thduc,jdbcType=DECIMAL},
      FDUC = #{fduc,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>