<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crplingxi.httpapi.webapp.dao.HotLoadRealTimeMapper">
  <resultMap id="BaseResultMap" type="com.crplingxi.httpapi.webapp.domain.HotLoadRealTime">
    <!--@mbg.generated-->
    <!--@Table HOT_LOAD_REAL_TIME-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HLOAD" jdbcType="DECIMAL" property="hload" />
    <result column="HETPC" jdbcType="DECIMAL" property="hetpc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, HLOAD, HETPC
  </sql>
  <select id="findByWhere" parameterType="com.crplingxi.httpapi.webapp.domain.HotLoadRealTime" resultType="com.crplingxi.httpapi.webapp.domain.HotLoadRealTime" useCache="true">
    select
    <include refid="Base_Column_List" />
    from HOT_LOAD_REAL_TIME
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from HOT_LOAD_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from HOT_LOAD_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crplingxi.httpapi.webapp.domain.HotLoadRealTime">
    <!--@mbg.generated-->
    insert into HOT_LOAD_REAL_TIME (ID, HLOAD, HETPC
      )
    values (#{id,jdbcType=VARCHAR}, #{hload,jdbcType=DECIMAL}, #{hetpc,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crplingxi.httpapi.webapp.domain.HotLoadRealTime">
    <!--@mbg.generated-->
    update HOT_LOAD_REAL_TIME
    set HLOAD = #{hload,jdbcType=DECIMAL},
      HETPC = #{hetpc,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
