<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crplingxi.httpapi.webapp.dao.PowerLoadRealTimeMapper">
  <resultMap id="BaseResultMap" type="com.crplingxi.httpapi.webapp.domain.PowerLoadRealTime">
    <!--@mbg.generated-->
    <!--@Table POWER_LOAD_REAL_TIME-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ELOAD" jdbcType="DECIMAL" property="eload" />
    <result column="ETPC" jdbcType="DECIMAL" property="etpc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, ELOAD, ETPC
  </sql>
  <select id="findByWhere" parameterType="com.crplingxi.httpapi.webapp.domain.PowerLoadRealTime" resultType="com.crplingxi.httpapi.webapp.domain.PowerLoadRealTime" useCache="true">
    select
    <include refid="Base_Column_List" />
    from POWER_LOAD_REAL_TIME
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from POWER_LOAD_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from POWER_LOAD_REAL_TIME
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crplingxi.httpapi.webapp.domain.PowerLoadRealTime">
    <!--@mbg.generated-->
    insert into POWER_LOAD_REAL_TIME (ID, ELOAD, ETPC
      )
    values (#{id,jdbcType=VARCHAR}, #{eload,jdbcType=DECIMAL}, #{etpc,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.crplingxi.httpapi.webapp.domain.PowerLoadRealTime">
    <!--@mbg.generated-->
    update POWER_LOAD_REAL_TIME
    set ELOAD = #{eload,jdbcType=DECIMAL},
      ETPC = #{etpc,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
