<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crplingxi.httpapi.webapp.dao.SendLogMapper">
  <resultMap id="BaseResultMap" type="com.crplingxi.httpapi.webapp.domain.SendLog">
    <!--@mbg.generated-->
    <!--@Table SEND_LOG-->
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="ERR_CODE" jdbcType="VARCHAR" property="errCode" />
    <result column="ERR_MSG" jdbcType="VARCHAR" property="errMsg" />
    <result column="ERR_DATA" jdbcType="VARCHAR" property="errData" />
    <result column="SEND_SIZE" jdbcType="INTEGER" property="sendSize" />
    <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <insert id="insert" parameterType="com.crplingxi.httpapi.webapp.domain.SendLog">
    <!--@mbg.generated-->
    insert into SEND_LOG (TABLE_NAME, ERR_CODE, ERR_MSG, ERR_DATA, SEND_SIZE, SEND_TIME,
      STATUS)
    values (#{tableName,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, #{errMsg,jdbcType=VARCHAR}, #{errData,jdbcType=VARCHAR}, #{sendSize,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=SMALLINT})
  </insert>
  <select id="findLast" parameterType="com.crplingxi.httpapi.webapp.domain.SendLog" resultType="com.crplingxi.httpapi.webapp.domain.SendLog" useCache="true">
    select
    TABLE_NAME, ERR_CODE, ERR_MSG, ERR_DATA, SEND_SIZE, SEND_TIME,
    STATUS
    from SEND_LOG where STATUS = 1
    <if test="tableName !=null">
      and TABLE_NAME = #{tableName}
    </if>
    order by SEND_TIME desc limit 1
<!--    <if test="status !=null">-->
<!--      and "STATUS" = #{status}-->
<!--    </if>-->
  </select>
</mapper>
